# JWT configuration
JWT_SECRET_KEY= thisshouldbesupersecret
JWT_REFRESH_SECRET_KEY= thisshouldbesupersecret

# MySQL
MYSQL_SERVER=host
MYSQL_PORT=3306
MYSQL_DB=databasename
MYSQL_USER=username
MYSQL_PASSWORD=password

# Admin user
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
